* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: roboto, arial, helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #111;
  box-sizing: border-box;
}

#logo_amazon {
  margin-top: 5px;
}

#logo_amazon a img {
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.conteudo,
.formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.formulario {
  align-items: flex-start;
  width: 275px;
  height: 295px;
  padding: 26px;
  border: 1px #ddd solid;
}

.formulario__rotulo {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}
